:root {
    --font_1: 'Raleway', sans-serif;
    --font_2: 'Open Sans', sans-serif;
    --font_size: 16px;
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-secondary-shadow: #00000029;
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;
    --button-radius: 35px;
}

body {
    font-family: var(--font_1);
    font-size: var(--font_size);
    box-sizing: border-box;
}

.header {
    width: 100vw;
    box-shadow: 0px 3px 6px var(--color-secondary-shadow);
}

.container {
    width: 1352px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 2em;
    text-decoration: none;
    color: var(--color-primary);
    padding: 16px 0 17px;
    cursor: pointer;
}

nav ul {
    display: flex;
}

.nav_button {
    font-family: var(--font_2);
    font-size: 0.6875em;
    color: var(--color-black);
    padding: 28px 5px 27px;
    text-align: center;
    margin-left: 90px;
}

.nav_button:hover {
    color: var(--color-black);
    font-weight: bold;
    border-bottom: 4px solid var(--color-primary);
    cursor: pointer;
}

